*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/*Сброс стилей*/


html {
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    color: #5E5E5E;

}

.wrapper {
    max-width: 1741px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.logo {
    background-image: url(img/logo.svg);
    width: 275px;
    height: 52px;
    display: flex;
    
    
    
}

.header__menu {
    background: #9197F0;
    border-radius: 50px 0px 0px 50px;
    display: flex;
    width: 60%;
    padding: 22px 41px 22px 74px;


}
.header__menu-list {
    
}
.header__list-item {
    display: inline-block;
    margin-right: 69px;
}

.header__menu-links {
    text-decoration: none;
    color: #FFFFFF;
}
.search {

}

.search__text {
    color: rgba(145, 151, 240, 0.5);
    background: #FAFAFA;
    border-radius: 23px;
    padding: 9.5px 0 9.5px 30px;
    position: relative;
    
}

.search__btn {
    background-image: url(img/search.svg);
    position: absolute;
    right: 8px;
}


.main {
    display: flex;
    justify-content: end;
}
.main__content {
    display: flex;
}

.main__text {
    padding: 182px 0 0;
    /* padding-left: 34px; */
}
.main__title {
    font-weight: 700;
    font-size: 7.4rem;
    line-height: 11.2rem;
    color: #787BE5;
}

.main__description {
    max-width: 608px;
    padding: 2px 70px 57px 0;
}

.buttons {
    display: flex;
}

.button {
    padding: 21px 60px;
    border-radius: 113px;
    margin-right: 32px;
    display: inline-flex;
    align-items: center;
}

.button_active {
    background: #525BEA;
    color: #FFFFFF;
}

.button_inactive {
    border: 6px solid #525BEA;
    color: #525BEA;
}

/* .image-1 {
    width: 1178px;
    height: 688px;
    background: #DDFFE7;
    filter: blur(35px);
    border-radius: 110px;
}

.image-2 {
    width: 1023px;
    height: 744px;
    left: 553px;
    top: 119px;
    background: #DAE4FF;
    filter: blur(35px);
    border-radius: 100px;
} */

.image-main {
    padding-top: 90px;

}

.slider {
    display: flex;
    justify-content: end;
    padding-right: 15%;
}
.elipse {
    width: 22px;
    height: 22px;
    background: #9FA5FD;
    border-radius: 50%;
}

.elipse:not(:last-child) {
    margin-right: 17px;
}

.elipse_active {
    background: #525BEA;
}

.social-media {
    display: flex;
    flex-direction: row;
    padding-top: 75px;
}

.social-link {
    display: flex;
    width: 41px;
    height: 41px;
    margin-right: 30px;
}

.social-link_facebook {
    background-image: url(img/facebook.svg);
}

.social-link_instagram {
    background-image: url(img/instagram.svg);
}

.social-link_linkedin {
    background-image: url(img/linkedin.svg);
}

.social-link_twitter {
    background-image: url(img/twitter.svg);
}
